.nav-container {
  width: 100vw;
  background: var(--darkblue);
  z-index: 8;
  transition: all 0.3s ease;
}
.nav-container.scrolled {
  position: fixed;
  background: var(--deepblue);
  transition: all 0.3s ease;
  top: 0;
}

.navbar {
  display: grid;
  grid-template-columns: 0.4fr auto 1fr;
  align-items: center;
  height: 65px;
  width: 100%;
  max-width: 1720px;
  margin: 0 auto;
  box-shadow: none !important;
}

.nav-menu li a {
  position: relative;
}

.nav-menu li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: ".";
  color: transparent;
  background: var(--white);
  height: 2px;
}

.nav-menu li a:hover:after {
  width: 100%;
}
.nav-menu li a,
.nav-menu li a:after,
.nav-menu li a:before {
  transition: all 0.8s;
}

h1 {
  margin-bottom: 0 !important;
}
ul.nav-menu {
  margin-bottom: 0 !important;
}

#navbar-logo {
  color: var(--white);
  justify-self: start;
  margin-left: 20px;
}

#navbar-logo:hover {
  cursor: pointer;
}

.nav-menu,
.nav-menu-active {
  display: grid;
  grid-template-columns: repeat(4, auto);
  list-style: none;
  text-align: center;
  width: 70%;
  justify-self: end;
}

.nav-links {
  color: var(--white);
  text-decoration: none;
  font-size: 1.2rem;
}

.menu-toggle .bar {
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.4s ease-in-out;
  background: var(--white);
}
@media screen and (max-width: 900px) {
  .navbar {
    grid-template-columns: 0.6fr auto 1fr;
  }
}

@media screen and (max-width: 768px) {
  .nav-container {
    position: relative;
  }

  .nav-menu {
    display: grid;
    grid-template-columns: auto;
    background: var(--darkblue);
    margin: 0;
    width: 100%;
    position: absolute;
    top: 65px;
    left: -100%;
    opacity: 0;
    transition: all 0.3s ease;
  }
  #navbar-logo {
    margin-left: 20px;
  }
  ul.nav-menu.active {
    padding-left: 0px;
  }
  .nav-menu.active {
    display: grid;
    grid-template-columns: auto;
    margin: 0;
    width: 100%;
    position: absolute;
    top: 65px;
    left: 0;
    opacity: 1;
    transition: all 0.3s ease;
  }

  .nav-menu.active.scrolled{
    background: var(--deepblue)
  }

  .nav-links {
    text-align: center;
    line-height: 60px;
    width: 100%;
    display: table;
  }

  .nav-menu li:hover {
    background-color: var(--white);
    color: var(--darkblue) !important;
    transition: all 0.4s ease-out;
  }

  .nav-menu li a:after {
    color: none;
    height: 0px;
  }
  .navbar {
    width: 100%;
  }

  #mobile-menu,
  #mobile-menu-active {
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(15%, 25%);
  }

  .menu-toggle .bar {
    display: block;
    cursor: pointer;
  }

  .menu-toggle:hover {
    cursor: pointer;
  }

  #mobile-menu-active .bar:nth-child(2) {
    opacity: 0;
  }

  #mobile-menu-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  #mobile-menu-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

@media screen and (max-width: 1039px) {
  .navbar {
    grid-template-columns: 1fr auto 1.5fr;
  }
  .nav-menu {
    width: 80%;
  }
}

@media screen and (max-width: 755px) {
  .navbar {
    grid-template-columns: 1.5fr auto 1.5fr;
  }
  #navbar-logo {
    font-size: 1.5rem;
  }
}
